{% extends "registration/base.html" %}
  {% block main_content %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% endif %}
    {% if posts %}
     <div class="table-responsive">
      <table class="table table-hover">
       <thead>
            <tr>
                <th>Post Name</th>
                <th>Category Name</th>
                <th>User Name</th>
            </tr>
            </thead>
            <tbody>
        {% for post in posts %}
            <tr>
                <td>{{post.name}}</td>
                <td>{{post.category.name}}</td>
                <td>{{post.user.username}}</td>
           </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No Post in the database</p>
    {% endif %}
  {% endblock %}